<!--
  COURSE DETAILS PAGE
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Details</title>
    <%-include('./styles')%>  
    <style>
    @media (max-width: 499px) 
{
    #jumbo h1
    {
        font-size: 40px;
    }
}
    </style>
</head>
<body>
    <div class="container mt-4">
        <div id="jumbo" class="jumbotron shadow">
                <h1 class="display-3"><%=details.title%> </h1>
                <p class="lead"><%=details.summary%></p>
                <hr class="my-4">
                <div class="row">
                    <div class="col md-6">
                        <p><b>By Professor.</b><%=details.offered_by%></p>
                        <p><b>Industry: </b><%=details.domain%></p>
                        <p><b>Duration: </b><%=details.details.duration%></p>
                    </div>
                    <div class="col md-6">
                        <p><b>Course Fee: </b>&#8377;<%=details.details.fees%></p>
                        <p><b>Certification: </b><%=details.details.certification%></p>
                    </div>
                </div>
                <p class="mt-4 text-center">
                  <a class="btn btn-primary mr-5" href='/dashboard/explore/:<%=sid%> ' role="button">Go Back</a>
                </p>
              </div>
    </div>
<%-include('./scripts')%>  
</body>
</html>
