<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Course</title>
    <%-include('./partials/styles')%>  
</head>
<body>
    <div class="container mt-4">
        <div class="row mt-5">
        <div class="col-md-6 m-auto">
        <div class="card card-body">
        <h1 class="text-center mb-3">
                <i class="fas fa-edit"></i> Edit Course</h1>
        <form method="POST">
                <%-include('./partials/messages')%>
            <div class="form-group">
                    <label for="duration">Course duration</label>
                    <input
                      type="text"
                      id="duration"
                      name="duration"
                      class="form-control"
                      placeholder="Course Duration (specify week/hours)"
                      value="<%= typeof details.duration != 'undefined' ? details.duration : '' %>"
                      />
                </div>
                <div class="form-group">
                <label for="fees">Course fee</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-rupee-sign"></i></span>
                    </div>

                    <input
                      type="text"
                      id="fees"
                      name="fees"
                      class="form-control"
                      placeholder="Course Fees"
                      value="<%= typeof details.fees != 'undefined' ? details.fees : '' %>"
                      />
            </div>
        </div>
            <div class="form-group">
                    <label for="certification">Certification</label>
                    <input
                      type="text"
                      id="certification"
                      name="certification"
                      class="form-control"
                      placeholder="Certification (Yes/No)"
                      value="<%= typeof details.certification != 'undefined' ? details.certification : '' %>"
                      />
            </div>
            <a href='/dashboard/professor/:<%=pid%>'class="btn btn-primary">Go Back</a>
            <button type="submit" class="btn btn-primary float-right">
              Submit
            </button>
          </form>
        </div>
    </div>
</div>
</div>
<%-include('./partials/scripts')%>  
</body>
</html>